

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000; /* Couleur du texte en blanc pour le contraste */
    height: 100vh;
    overflow: hidden; /* Empêche le défilement si l'image est plus grande que l'écran */
    position: relative; /* Pour positionner les éléments enfants correctement */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligne le texte et les rubriques en haut */
    padding: 40px;
    width: 100%;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    position: relative; /* Assure que le texte est au-dessus de l'image */
}

.name {
    font-size: 3em;
    font-weight: bold;
    margin: 0; /* Pas de marge pour coller au bord supérieur */
}

main {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
    color: #000000; /* Couleur du texte */
    font-size: 1em;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

/* Styles pour le bloc de texte */
.content {
    padding-left: 40px;
    margin-left: 0px 0px;
    max-width: 800px; /* Largeur maximale du bloc de texte */
    color: #000000; /* Couleur du texte */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

/* Titre du bloc de texte */
.content h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000; /* Couleur du titre, ajuste selon tes préférences */
}

/* Paragraphe du bloc de texte */
.content p {
    line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
    margin-bottom: 15px; /* Espacement entre les paragraphes */
    font-size: 1em; /* Taille de la police pour le texte */
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        padding: 10px;
        margin: 10px;
        max-width: 100%; /* Ajuste la largeur du bloc de texte pour les petits écrans */
    }
}