/* Généralités */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000; /* Couleur du texte en blanc pour le contraste */
    height: 100vh;
    overflow: hidden; /* Empêche le défilement si l'image est plus grande que l'écran */
    position: relative; /* Pour positionner les éléments enfants correctement */
}



/* Conteneur de l'en-tête */
.header {
    display: flex;
    justify-content: space-between; /* Espace entre le nom et les rubriques */
    align-items: flex-start; /* Aligne les éléments en haut */
    padding: 40px;
    width: 100%;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    position: relative; /* Assure que le texte est au-dessus de l'image */
    font-size: 3em;
    font-weight: bold;
    margin: 0; /* Pas de marge pour coller au bord supérieur */
}


p {

    width: 40%;
    text-align: left;
    padding-left: 40px;
    color: #000000; /* Couleur du texte */
    font-size: 0.9em;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}


.download-button {
    color: #3c00ff;
    padding: 40px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;

  }
  main {

    width: 40%;
    text-align: left;
    padding-left: 40px;
    color: #000000; /* Couleur du texte */
    font-size: 0.9em;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}