body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000;
}
strong {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-left: 10%;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-left: 10%;
}
droit {
    margin-top: 20%;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: end;
}
header {
    background-color: #ffffff;

    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin:  25px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 40px;
    text-align: center;
}

main h2 {
    color: #000000;
    text-align: right;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

   
    
   





